.prev_title {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: box !important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    color: #686f7a;
}

.prev_title1 {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: box !important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    color: #686f7a;
}

.kslu16 {
    margin-right: 15px;
    text-align: right;
}

.kslu16:hover {
    margin-right: 5px;
    transition: margin 0.3s ease-out;
}

.prevlink1 {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
}

.night-mode .prevlink1 {
    color: #fff;
}

.night-mode .prev_title1 {
    color: white;
}

.kslu15 {
    margin-left: 15px;
    text-align: left;
}

.kslu15:hover {
    margin-left: 5px;
    transition: margin 0.3s ease-out;
}

.night-mode .prevlink {
    color: #fff;
}

.prevlink {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
}
