@CHARSET "UTF-8";

.scb-category-icon{
	box-shadow: 2px 2px 1px rgba(84,84,84,0.1);
	text-align: center;
	padding: 10px 10px 15px 10px;
	border-left: 1px solid #eeeeee;
	border-top: 3px solid #c41425;
}

.scb-category-icon a{
	display: block;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: #333;
}

.scb-category-icon a:hover{
	text-decoration: none;
}

.scb-category-icon .glyphicon,
.scb-category-icon .fa
{
	font-size: 50px;
	color: #0066b3;
}

