header {
    position: initial;
    border-bottom: 1px solid #ddd;
}

.nav-desktop .navbar-brand img {
    width: 150px;
}

main .content-main .row1 .block .image {
    background: unset;
}

main .content-main .row1 .block .view-more {
    text-align: center;
}

main .content-main .row1 .block .view-more .btn-view-more {
    margin-top: 15%;
}

main .content-main .row1 .block .title .status {
    width: 100%;
    height: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}

main .content-main .row1 .block .title .status .process {
    background: #060;
    height: 18.5px;
    border-radius: 3px 0 0 3px;
    text-align: center;
    font-size: 15px;
}

main .content-main .row1 .block .time .col-md-3 {
}

main .content-main .row1 .block .title a {
    font-weight: bold;
}

main .content-main .row1 .block .mobile-r {
    margin-top: 5px;
}

@media (max-width: 414px) {
    main .content-main .row1 .block .title .b-left {
        width: 80%;
    }

    main .content-main .row1 .block .title .b-right {
        width: 20%;
    }

    main .content-main .row1 .block .time .b-2,
    main .content-main .row1 .block .time .b-3,
    main .content-main .row1 .block .time .b-4 {
        display: none;
    }

    main .content-main .row1 .block .time .b-1,
    main .content-main .row1 .block .time .b-5,
    main .content-main .row1 .block .time .b-6 {
        width: 33%;
    }

    main .content-main .row1 .block .view-more.mobile-l {
        display: inline-block;
        width: 39%;
        float: right;
    }

    main .content-main .row1 .block .mobile-r {
        display: inline-block;
        width: 49%;
        float: left;
        margin-top: 0;
    }

    main .content-main .row1 .block .view-more .btn-view-more {
        margin-top: 0;
    }
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 7px 7px 0px 0px;
}

.courses_news .nav-tabs > li {
    margin: 0 10px 0 0;
}

.courses_news .nav-tabs > li > a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(12, 130, 129);
    margin-bottom: 0px;
    padding: 15px 20px;
    border-bottom: 1px solid transparent;
}

.courses_news .nav-tabs > li.active > a {
    text-decoration: none;
    color: #c02126;
    border-bottom: 2px solid #c02126;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
.slider-top .desc-c {
    position: absolute;
    margin-top: 200px;
    text-align: center;
    width: 100%;
}

.slider-top .desc-c .text {
    background: rgba(255, 255, 255, 0.85);
    width: 80%;
    margin: auto;
    padding: 30px;
    font-size: 20px;
}

main .slide-button {
    position: absolute;
    margin-top: -240px;
    width: 100%;
}

main .slide-button .pager-next {
    float: right;
}

main .content-main .content-fill {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
}

main .content-main .content-fill .div-left {
}

main .content-main .content-fill .div-right {
}

main .content-main .content-fill .div-right .name-fill {
    margin-top: 7px;
    margin-right: 20px;
}

main .content-main .content-fill .div-right select.form-control {
    border: 3px solid rgba(0, 0, 0, 0.15);
    font-size: 13px;
    border-radius: 5px;
    margin-right: 10px;
}

main .content-main .row1 .block {
    padding: 20px;
    background: white;
}

main .content-main .row1 .block .title {
    border: none;
    margin-top: 0px;
}

main .content-main .row1 .block .title a {
    color: #464141;
    font-weight: 550;
}

main .content-main .row1 .block .title a:hover {
    color: red;
}

main .content-main .row1 .block .title .deadline,
main .content-main .row1 .block .title .time,
main .content-main .row1 .block .title .object {
    text-align: left;
    font-size: 14px;
    color: #565353;
}

main .content-main .row1 .block .user {
    margin-top: -20px;
}

main .content-main .row1 .block {
    position: relative;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    color: #fff;
    overflow: hidden;
}

main .content-main .row1 .block .desc {
    background-color: rgba(255, 255, 255, 0.9294117647058824);
    color: #ffffff;
    position: absolute;
    z-index: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 29px 44px;
    text-align: center;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    color: black;
    text-align: left;
}

main .content-main .row1 .block:hover .desc {
    z-index: 500;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

main .content-main .row1 .block .desc .name {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 15px;
}

main .content-main .row1 .block .desc p {
    font-size: 14px;
    color: #696969;
    font-size: 13px;
}

main .content-main .row1 .block .desc .info .item {
    font-size: 13px;
    margin: 10px 0;
}

main .content-main .row1 .block .desc .btn-signup {
    text-align: center;
    margin-top: 5%;
}

main .content-main .row1 .block .desc .btn-signup .link-btn-signup {
    padding: 8px 40px;
    background: #8a908e;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

main .content-main .row1 .block .desc .btn-signup .link-btn-signup:hover {
    background: #767b79;
}

main .content-main .row1 .block .desc .btn-views {
    text-align: center;
    margin-top: 10%;
}

main .content-main .row1 .block .desc .btn-views .link-btn-views {
    padding: 8px 40px;
    background: #6baf42;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

main .content-main .row1 .block .desc .btn-views .link-btn-views:hover {
    background: #446f2a;
}

main .content-main .row1 .block .footer-block {
    color: black;
    font-size: 10px;
    border-top: 1px solid #ddd;
    padding: 5px 0;
    text-align: center;
}

main .content-main .paging {
    margin-top: 20px;
    text-align: right;
}

main .content-main .paging ul {
    list-style: none;
}

main .content-main .paging ul li {
    display: inline-block;
}

main .content-main .paging ul li a.p {
    padding: 5px 8px;
    background: #aeabab;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

main .content-main .paging ul li a.p.active {
    background: rgb(94, 93, 93);
}

main .content-main .paging ul li a.p:hover {
    background: #908e8e;
}

@media (max-width: 414px) {
    main .slide-button {
        margin-top: -120px;
        display: none;
    }

    main .slide-button .pager-next {
        margin-top: 8%;
    }

    main .slide-button a img {
        max-width: 50%;
    }

    .slider-top .desc-c {
        margin-top: 15px;
    }

    .slider-top .desc-c .text {
        padding: 0;
        font-size: 15px;
        margin-top: 20px;
    }

    main .content-main .content-fill .div-right select.form-control {
        font-size: 12px;
    }
}
