.modal-add-activity .block-left{
    border-right: 1px solid #ddd;
}

.modal-add-activity .block-left .option {
    margin-top: 5px;
}

.course-content ul{
    list-style: none;
    font-size: 20px;
}

.course-content ul li{
    margin-top: 5px;
}

.course-content .editing_move i{
    cursor: move;
}
