/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .search120 {
        display: none;
        margin-left: 0 !important;
    }

    .option_links {
        padding: 10px 3px !important;
        font-size: 18px !important;
    }

    .opts_account img {
        margin-left: 5px !important;
        width: 30px !important;
    }

    .menu.dropdown_mn {
        margin-right: -43px !important;
    }

    .noti_count {
        right: 0 !important;
    }

    .play_btn1 {
        top: 40%;
        right: 45% !important;
    }

    .progress1 {
        flex-basis: 30% !important;
    }

    .reviews_left {
        margin-bottom: 50px;
    }

    .hf_img {
        width: 100% !important;
        float: left;
        position: relative;
    }

    .hs_content {
        padding: 10px 5px !important;
        float: left;
        width: 100% !important;
        position: relative;
    }

    .eps_dots10 {
        top: 10px !important;
    }

    .hde151 {
        display: none;
    }

    .prev_title {
        max-width: 100px !important;
    }

    .prev_title1 {
        max-width: 100px !important;
    }

    .tc_footer_left {
        width: 100%;
        text-align: center;
    }

    .tc_footer_right {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .cmtk_dt .clock li span {
        font-size: 3.5em !important;
    }

    .cmtk_dt .clock li label {
        font-size: 14px !important;
    }

    .cmtk_dt .clock li.sep {
        font-size: 2.5em !important;
    }

    .cmtk_dt {
        padding: 71px 0 61px !important;
    }

    .edttslogo img {
        width: 80px !important;
    }

    .edttslogo1 img {
        width: 95px !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .main_logo {
        margin-left: 10px !important;
    }

    .search120 {
        display: none;
        margin-left: 0 !important;
    }

    .reviews_left {
        margin-bottom: 50px;
    }

    .hf_img {
        width: 100% !important;
        float: left;
        position: relative;
    }

    .hs_content {
        padding: 10px 5px !important;
        float: left;
        width: 100% !important;
        position: relative;
    }

    .eps_dots10 {
        top: 10px !important;
    }

    .tc_footer_left {
        width: 100%;
        text-align: center;
    }

    .tc_footer_right {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .cmtk_dt .clock li span {
        font-size: 6em !important;
    }

    .cmtk_dt .clock li label {
        font-size: 16px !important;
    }

    .cmtk_dt .clock li.sep {
        font-size: 5em !important;
    }

    .cmtk_dt {
        padding: 71px 0 61px !important;
    }

    .edttslogo img {
        width: 80px !important;
    }

    .edttslogo1 img {
        width: 95px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .main_logo {
        margin-left: 10px !important;
    }

    .search120 {
        display: none;
        margin-left: 0 !important;
    }

    .rating-box {
        flex-basis: 20% !important;
    }

    .reviews_left {
        margin-bottom: 50px;
    }

    .prfledt1 {
        text-align: center !important;
        margin-left: 0 !important;
    }

    .hf_img {
        width: 100% !important;
        float: left;
        position: relative;
    }

    .hs_content {
        padding: 10px 5px !important;
        float: left;
        width: 100% !important;
        position: relative;
    }

    .eps_dots10 {
        top: 10px !important;
    }

    .tc_footer_left {
        width: 100%;
        text-align: center;
    }

    .tc_footer_right {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        overflow-y: scroll;
    }

    .logo img {
        width: 200px;
        text-align: center;
        margin-top: 10px;
        float: none;
    }

    .wrapper__minify {
        margin-left: 50px;
    }

    .search120 {
        display: none;
        margin-left: 0 !important;
    }

    .title900 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .hf_img {
        width: 40% !important;
    }

    .hs_content {
        width: 60% !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }

    .hf_img {
        width: 40% !important;
    }

    .hs_content {
        width: 60% !important;
    }

    .container-fluid {
        padding-right: 25px !important;
        padding-left: 25px !important;
    }
}
