/node_modules
/public/hot
/public/storage
/bootstrap/cache
/storage/*.key
/vendor
/resources/lang
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/bootstrap
/update
/.env
/public/moodle/config.php
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/tmp/*
/storage/import_files/*
/moodle
_ide_helper.*
laravel-echo-server.json
laravel-echo-server.lock
pm2-apps.json
